/* GENERICHE */
* {
    margin: 0;
    padding: 0;
}

.margin-bottom {
    margin-bottom: 20px;
}

a {
    color: #3cb4e7;
    text-decoration: none;
}

ul {
    padding-left: 0;
    list-style-position: inside;
}

.width-50 {
    width: 50%;
}

/* UTILS - quelle che utilizzo più spesso */
.container {
    max-width: 1080px;
    margin: 0 auto;
}

.text-grey {
    color: #808080;
}

.text-small {
    font-size: 12px;
}

/* HEADER PRINCIPALE */
.main-header {
    height: 100px;
    background-color: #3cb4e7;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: 26%;
    line-height: 100px; /*insieme a vertical-align sull'img, 
    allinea al centro, così se modifico l'altezza della header 
    la centralizzazione avviene in automatico*/
}

.logo-booleaner {
    height: 50%;
    vertical-align: middle; /* vedi line-height */
}

/* ARTICOLO */
h1 {
    font-size: 38px;
}

address {
    font-style: normal;
    font-size: 18px;
}

.article-content {
    margin: 20px 0 20px 0;
}

/* TABELLA */
table {
    border-collapse: collapse; /*collassa i bordi,
    toglie i bordi*/
}

th {
    text-align: left;
    background-color: rgb(10, 181, 248);
    color: #fff

}

tr { /*specificando il colore del th (vedi sopra) la riga di
    intestazione della tabella, ha un colore diffrente, se 
    non avessi specificato, il suo colore sarebbe uguale a
    quello sotto (acquamarine) */
    background-color: rgb(165, 213, 252);
}

td.even { /*=pari, tutte le righe pari della tabella,
    se scrivo solo .even colora di bianco la colonna*/
    background-color: #fff;
}